.inputDiv {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    input{
        width: 100%;
        outline: none;
        border: none;
        color: #2f2d52;
        font-size: 16px;

        &::placeholder{
            color: #caccd1;
        }
    }

    .send{
        display: flex;
        align-items: center;
        gap: 10px;

        svg{
            height: 24px;
            cursor: pointer;
            color: #caccd1;
        }

        button{
            border: none;
            outline: none;
            padding: 5px 10px;
            background-color: #8da4f1;
            cursor: pointer;
            color: white;
            border-radius: 4px;
        }
    }
}