.chat{
    flex: 2;
    .chatInfo{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        height: 50px;
        align-items: center;
        background-color: #5d5b8d;
        color: lightgray;

        .chatIcons{
            display: flex;
            align-items: center;
            gap: 10px;

            svg{
                width: 24px;
                height: 24px;
                object-fit: cover;
                cursor: pointer;

                &:hover{
                    color: white;
                    transition: all 200ms;
                }
            }
        }
    }
}