.chats {
    .userChat {
        .userChatInfo {
            span{
                font-size: 18px;
                font-weight: 700;
            }

            p{
                font-size: 14px;
                color: lightgray;
                font-weight: 300;
            }
        }
    }
}